<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- stylesheets -->
    {% include "css_imports.html" %}
    <!-- javascript -->
    {% include "js_imports.html" %}
    <title>TaikoExplorer</title>
  </head>
  <body>
    {% include "loading_icon.html" %}
    {% include "navbar.html" %}
      <div id="main-content" class="container">
        {% block maincontent %}
        {% endblock maincontent %}
      </div>
  </body>
</html>
