<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- stylesheets -->
    {% include "css_imports.html" %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/_navbar.css" />
    <!-- javascript -->
    {% include "js_imports.html" %}
    <title>TaikoExplorer</title>
  </head>
  <body>
    {% include "navbar.html" %}
    <div class="container">
      <div id="search-results" class="row"></div>
    </div>
  </body>
  <script>
    var searchResultDisplayer = new SearchResultDisplayer({
      resultContainer: $("#search-results")
    });
    var searchBar = new SearchBar ({
      searchDiv: $("#main-search"),
      displayer: searchResultDisplayer
    });
  </script>
</html>
