{% spaceless %}
<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- stylesheets -->
    {% include "css_imports.html" %}
    <!-- javascript -->
    {% include "js_imports.html" %}
    <title>TaikoExplorer</title>
  </head>
  <body>
    {% include "navbar.html" %}
      <div id="main-content" class="container">
        {% block maincontent %}
        <div id="main-jumbotron" class="jumbotron">
          <div class="container">
            <h1>Welcome to TaikoExplorer</h1>
            <p>
              TaikoExplorer makes finding online taiko videos easier! Help tag other taiko videos to make them more searchable. Start now by searching a video above. 
            </p>
          </div>
        </div>
        {% endblock maincontent %}
      </div>
  </body>
  {% block js %}
  {% endblock js %}
</html>
{% endspaceless %}
