<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <!-- For responsive design -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">TaikoExplorer</a>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <form id="main-search" class="navbar-form navbar-left" role="search">
      <div class="input-group">
        {% if request.GET.query %}
          <input 
            class="form-control" 
            name="query" 
            placeholder="Search"
            type="text" 
            value="{{request.GET.query}}">
        {% else %}
          <input 
            class="form-control" 
            name="query" 
            placeholder="Search"
            type="text">
        {% endif %}
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default" formaction="/">
            <span class="glyphicon glyphicon-search"></span> 
          </button>
        </span>
      </div>
    </form>
    <ul class="nav navbar-nav navbar-left">
      <li>
        <a id="advanced-search" href="/advanced-search">Advanced Search</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          See Tagged <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/songs">Songs</a></li>
          <li><a href="/composers">Composers</a></li>
        </ul>
    </ul>
  </div>
</nav>
