{% extends "index.html" %}

{% autoescape off %}
{% block maincontent %}
<div id="song-list">
  <h3>Unconfirmed Song Tags:</h3>
  <div id="react-unconfirmed-results" class="row"></div>
  <h3>Confirmed Tags:</h3>
  <div id="react-confirmed-results" class="row"></div>
</div>
{% endblock maincontent %}
{% endautoescape %}

{% block js %}
<script>
  var dataSafe = {{data|safe}};
  var csrfToken = "{{csrf_token}}";
  var queryType = "{{request.GET.type}}";
</script>
{% load compressed %}
{% compressed_js 'adminSearch' %}
{% endblock js %}
