<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
  </head>
  <body>
    <div id="main-content">
      <div class="row">
      <div class="row">
        <div class="col-md-7">
          <iframe width="700" height="400"
            src="//www.youtube.com/embed/{{vid}}"
            frameborder="0" allowfullscreen></iframe> 
        </div>
      </div>
    </div>
  </body>
</html>
