.search-button {
  left: -10px;
  padding: 0;
  position: relative;
}

#main-search {
  float: left;
  min-width: 700px;
}

.advanced-search {
  line-height: 48px;
  position: relative;
  left: -20px;
}
