.search-result { 
  padding: 10px 10px 10px;
}

.search-result .video-thumb img {
  max-width: 320px;
}

.search-result .video-db-details {
  margin: 0;
}

.search-result .songs-and-composers {
  border-right: 1px solid #ddd;
}

h4.title {
  margin-top: 0;
}

.panel * {
  font-size: 14px;
}
