.search-result { 
  padding: 10px 10px 10px;
}

.search-result .video-thumb img {
  max-width: 320px;
}

.search-result .video-db-details {
  margin: 0;
}

.search-result .video-db-details a {
  cursor: pointer;
}

.search-result .songs-and-composers  {
  border-right: 1px solid #ddd;
}

.search-result .groups  {
  border-left: 1px solid #ddd;
  margin-left: -1px;
}

.search-result .delete-entry {
  position: absolute; 
  right: 5px;
  top: 0;
  font-size: 18px;
}

.search-result .song-tag {

}

html .panel-group .panel {
  overflow: visible;
}

h4.title {
  margin-top: 0;
}

.panel * {
  font-size: 14px;
}
