.typeahead-special-match {
  position: relative;
}

.typeahead-special-match img {
  zoom: 1.2;
  margin-top: -25px;
  margin-left: -40px;
}

.typeahead-special-match .search-term {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 70px;
}

.typeahead-special-match .img-crop {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  overflow: hidden;
}
