.typeahead-special-match {
  position: relative;
}

.typeahead-special-match .image {
  zoom: 1.2;
  margin-top: -25px;
  margin-left: -40px;
}

.typeahead-special-match .search-term, .typeahead-special-match .styles, .typeahead-special-match .composers {
  position: absolute;
  top: 0;
  left: 70px;
  overflow: hidden;
  right: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.typeahead-special-match .composers {
  top: 20px;
}

.typeahead-special-match .styles {
  top: 40px;
}

.typeahead-special-match .img-crop {
  height: 60px;
  width: 60px;
  overflow: hidden;
}

.select2-dropdown.select2-dropdown .select2-choice {
  border-radius: 0 4px 4px 0;
  height: 34px;
}

.select2-dropdown.select2-dropdown .select2-choice .select2-chosen {
  line-height: 32px;
}

.select2-dropdown.select2-dropdown .select2-dropdown-open .select2-choice {
  border-radius: 0;
}
